.page-head-set{
    /* background-image: linear-gradient(135deg, #bcd3f7 0%, #aeddb8 100%); */
/* background-color: #b29361; */
/* background-color: #10443e; */
background-image: url("/public/Assects/images/gallery-image-15.jpg");
background-repeat: no-repeat ;
background-size: cover;
/* background-size: auto; */
width: 100%;
height: 100vh;

}
/* margin-top: 200px !important; 
margin-left: 200px !important; 
font-size: 6rem;
font-weight: bold;

/* animation: glowing 2s infinite alternate; */

/* }
@keyframes glowing {
  0% {
    text-shadow:
    2px 2px 5px rgba(255, 255, 255, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.3),
    2px -2px 5px rgba(255, 255, 255, 0.3),
    -2px 2px 5px rgba(255, 255, 255, 0.3);
  }
  100% {
    text-shadow:
    2px 2px 20px rgba(255, 255, 255, 1),
    -2px -2px 20px rgba(255, 255, 255, 1),
    2px -2px 20px rgba(255, 255, 255, 1),
    -2px 2px 20px rgba(255, 255, 255, 1);
  }
} */
.page-head-set-outlined-text{
  margin-top: 200px !important;
  /* margin-left: 150px !important; */
  /* background-image: url("/public/Assects/images/gallery-image-15.jpg") !important; */
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text ;
  font-size: 3rem;
            white-space: nowrap;
            color:white;
            overflow: hidden;
            border-right: 2px solid white; /* Cursor effect */
            width: 0; /* Initially hidden */
            animation: typing 3s steps(18,end) infinite;
          }
      
          @keyframes typing {
            0% {
              width: 0; /* Start with no text */
            }
            50% {
              width:10ch; /* Text fully typed at 50% of the animation */
            }
            100% {
              width: 0; /* Text disappears at 100% */
            }
          }
      
          @keyframes blink-caret {
            from, to { border-color: transparent; }
            50% { border-color: white; }
          }
        

        
        

